.main{
  position: sticky;
  top: 0;
  z-index: 100;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
}
  .logo {
    display: flex;
    align-items: center;
    width: 200px;
  }
  .nav-center {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
  }
  .toggle-btn {
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    color: #3b82f6;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .btn-container {
    position: relative;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.5rem;
    position: relative;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1.5px solid transparent;
    transition: all 0.2s;
    font-size: 15px;
  }
  .btn:hover {
    color:  #11045a;
    background-color: white;
    border: 1.5px solid  #11045a;
    box-sizing: border-box;
  }
  .dropdown {
    position: absolute;
    bottom: -105px;
    left: calc(50% - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 120px;
    text-align: center;
    transform: scaleY(0) scaleX(0);
    transform-origin: top;
    transition: transform 0.2s;
    border-radius: 0.25rem;
  }
  .show-dropdown {
    transform: scaleY(1) scaleX(1);
  }
  .dropdown-btn {
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 30px;
    background-color: white;
    border-color: transparent;
    color:#11045a;
    letter-spacing: 1px;
    border: #11045a solid 1px;
    text-transform: capitalize;
    cursor: pointer;
  }

  .dropdown-btn:hover {
    background-color: #f3adb3;
    border:#11045a solid 1px;
  }
  .logo-text {
    display: none;
    margin: 0;
  }

  @media (min-width: 992px) {
    .main{
    position: sticky;
    top: 0;
    z-index: 100;
    }
  

    .nav-center {
      width: 90%;
    }
    .logo-text {
      display: block;
    }
  }


  @media (min-width: 600px) {
    .btn {
      transform: scale(1.5);
    }
    .dropdown {
      top: 45px;
    }
    .show-dropdown {
      transform: scale(1.5);
    }
  }

 

  .not-admin-btn {
    visibility: hidden;
  }